@charset "utf-8";
/* CSS Document */
@import url("Evil/stylesheet.css");
*{
    padding: 0;
    margin: 0;
}

html, body{
    overflow:hidden;
    height:100%;
}
.container p{
	font-size:25vw;
	color: #9A3249;
	font-family: 'evil_empireregular';
	font-weight: 100;
	font-style: normal;
	display: none;
	
}
.container{
	text-align:center;
	display:block;
	height: 100vh;
    background: url("bg_play.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.progress_bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.healthContainer{
	margin-top: 4vh;
	width:35vw;
	height: 5vh;
	border-radius: 0.75vw;
	
}
.player1{
	margin-left:3vw;
	border: white;
	border-width: 0.4vw;
	border-style: solid;
}
.player2{
	margin-right: 3vw;
	border:black;
	border-width: 0.4vw;
	border-style: solid;
}
.healthBar_1{
	transition: 0.5s;
	height: 5vh;
}
.healthBar_2{
	transition: 0.5s;
	background: green;
	height: 5vh;
}
.cam_screens{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cam{
	display: block;
	 width: 40vw;
	height: 70vh;
	border: solid;
	margin-inline:3vw;
	margin-top:3vw;
	margin-bottom: 1vw;
}
.cam_screens img{
	width: inherit;
	height:inherit;
}
.justsu{ 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.gif{ 
	width: 40vw;
	height: 70vh;
	border: solid;
	margin-inline:3vw;
	margin-top:3vw;
	margin-bottom: 1vw;
	display:none;
}
.img1{ 
	margin-left: 10vw;
}
.notsupported{ 
	font-size:50px;
	color:whitesmoke;
	display:none;
	text-align: center;
	padding:10px;
	height:100vh;
	text-decoration: none;
}
.notsupported a:link, a:visited{
	text-decoration:none;
	color:whitesmoke;
}
.notsupported a:hover{
	color:#C70039;
}
@media only screen and (max-width:750px){

    .container{ 
		display:none;
	}
	.notsupported{
		background: url("bg_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
		display:block;
	}

}