<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>index</title>
 <link rel="stylesheet" href="{{ url_for('static', filename= 'index.css') }}">
</head>
<body>
	<div class="container">
	<div class="maintext">
		<h2 class="glow">術バトル</h2>
		</div>
	<div class="menu">
		<div class="menuButton play"><a href="{{ url_for('play')}}">Play</a></div>
		<div class="menuButton simulate"><a href="{{ url_for('simulate')}}">Simulate</a></div>
		<div class="menuButton help"><a href="#">Help</a></div>
	</div>
	</div>
</body>
</html>
