<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Play</title>
<!--<link rel="stylesheet" href="play.css">-->
<link rel="stylesheet" href="{{ url_for('static', filename= 'play.css') }}">
</head>

<body>
	<div class="notsupported">Sorry! Not supported for mobile browsers :( 
		Try changing to landscape view.<br><br><br><a href="{{ url_for('index')}}">Go back to Home Page</a></div>
	<div class="container">
		
		<div class="progress_bar">	
			<div class="healthContainer player1">
				<div class="healthBar_1" style="width:0%"></div>
			</div>
			<div class="healthContainer player2">
				<div class="healthBar_2" style="width:0%"></div>
			</div>
		</div>
		
		<div class="cam_screens">
			<div class="cam cam_player1"><img src="{{ url_for('video') }}"></div>
			<div class="cam cam_player2"><img src="{{ url_for('video') }}"></div>
		</div>
		<div style="display:flex;flex-direction:column;">
			<div class="justsu" id="justsu"></div>
			<div class="justsu" id="justsu"></div>
			<div class="justsu" id="justsu"></div>
			<div class="justsu" id="justsu"></div>
			<div class="justsu" id="justsu"></div>
		</div>
	</div>

	<script>
    var sign=document.getElementById('justsu');
	state={
		yo:0,
		thulu:0,
		MidDown: 0,
		MidcloseDown: 0,
		L: 0,
		fist: 0,
		LL: 0
	};
	var signset = new Set();
    var temp;

    function update()
    {
        fetch('/handSign')
        .then(function (response) {
            return response.json();
        }).then(function (text) {
			if (text.handsign!="open")
			{
				state[text.handsign]++;
				if(state[text.handsign]>6)
				{
					state[text.handsign]=0;
					sign.innerHTML=text.handsign
					signset.add(text.handsign)

				}				
			}
            console.log(signset);
			console.log(state); 
        });
    }
    setInterval(update,100)
</script>
</body>
</html>
