<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Play</title>
<!--<link rel="stylesheet" href="play.css">-->
<link rel="stylesheet" href="{{ url_for('static', filename= 'play.css') }}">
</head>

<body>
	<div class="notsupported">Sorry! Not supported for mobile browsers :( 
		Try changing to landscape view.<br><br><br><a href="{{ url_for('index')}}">Go back to Home Page</a></div>
	<div class="container">
		
		<div class="progress_bar">	
			<div class="healthContainer player1">
				<div class="healthBar_1" id="healthBar_1" style="width:100%;background:green"></div>
			</div>
			<div class="healthContainer player2">
				<div class="healthBar_2" id="healthBar_2" style="width:100%;background:green"></div>
			</div>
		</div>
		
		<div class="cam_screens">
			<div class="cam cam_player1"><img src="{{ url_for('video') }}"></div>
			<div class="cam cam_player2"><img src="{{ url_for('video') }}"></div>
		</div>
		<div style="display:flex;flex-direction:column;">
			<div class="justsu" id="justsu"></div>
		</div>
	</div>

	<script>
		jutsuperform=0;
	var jutsulist={
		//fist==string terminator
		//After termination>> pause for one second >> start again (clear list)
		gateofdeath:{
			moves: ' L yo MidDown',
			healthdamage: 20
		},
		firebon:{
			moves: ' thulu yo',
			healthdamage: 5
		},
		susanoo:{
			moves: ' MidcloseDown yo LL',
			healthdamage: 20
		},
		amaterasu:{
			moves: ' L MidDown yo MidcloseDown LL',
			healthdamage: 30
		},
		Rasighan:{
			moves: ' yo MidDown thulu L open',
			healthdamage: 30
		//TODO healer and healthbar ,border implementation (groove), emojis instead of sign name.
		},

	}
    var sign=document.getElementById('justsu');
	health=100
	state={
		yo:0,
		thulu:0,
		MidDown: 0,
		MidcloseDown: 0,
		L: 0,
		fist: 0,
		LL: 0,
		open:0
	};
	var signset = new Set();
	jutsumade=""



	function sendtobackend(jutsumade){
		fetch('/jutsumade',{
			method: 'POST',
			headers: {
				'content-type': 'application/json'
			},
			body:JSON.stringify({ 
				jutsu: jutsumade
			})
		})
		.then(response =>{
			return response.json()
			})
		.then(data =>console.log(data))

	}



	function check(signset) 
	{
		for (const k of signset.values()) 
		{
			jutsumade=jutsumade+" "+k
		}

		
		sign.innerHTML=jutsumade

		// if match is seccuss then chakra -- and health ---


		for(const jutsuname in jutsulist)
		{	console.log(jutsumade)
			if(jutsulist[jutsuname]['moves']==jutsumade)
			{
				var damage=jutsulist[jutsuname]['healthdamage'];
				updateHealth(damage);
				sendtobackend(jutsuname)
				jutsuperform=1
				signset.clear()
				sign.innerHTML=""
				//health update
			}
		}

		jutsumade=""
	}


    function update()
    {
		if (jutsuperform==0)
		{	
			fetch('/handSign')
			.then(function (response) {
				return response.json();
			}).then(function (text) {
				if (text.handsign!="no move" && text.handsign!="fist")
				{
					state[text.handsign]++;
					if(state[text.handsign]>6)
					{
						state[text.handsign]=0;
						signset.add(text.handsign)
						check(signset)
					}				
				}
				else if(text.handsign=="fist"){
					signset.clear()
					setTimeout(function(){},2000)
					sign.innerHTML=""
				}
				// console.log(signset);
				// console.log(state); 
			});
	}
    }
	function updateHealth(damage){
		var healthBar=document.getElementById("healthBar_2");
		var leftHealth=parseFloat(healthBar.style.width)-damage;
		console.log(leftHealth);
		healthBar.style.width=leftHealth+"%";
		healthBar.style.background="red";
		setTimeout(function() {
			healthBar.style.background="green";
		  }, 500);
	}
    setInterval(update,100)
	// setInterval(updateheath,10000)
</script>
</body>
</html>
